<h2 class='User_Header'> <%=current_user.username%>'s Account <h2>

<div id="accountinfo">
    <%= current_user.company %>
    <%= link_to "Add Friends", addfriends_path %>
</div>

<h2>Your Friends</h2>
<ul>
  <% for friendship in current_user.friendships %>
    <% if friendship.friend %>
    <li>
        <%= link_to friendship.friend.username, controller: "users", action: "show", id: friendship.friend.id %>
        (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>  
<% end %>
</ul>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
