<div class="floatleft accountinfo">
  <%= image_tag avatar_url(@current_user, 150), :class => "avatar" %>
  <p id="username">
    <%= current_user.username %>
  </p>
    <p><%= mail_to current_user.email %></p>
    <p><%= current_user.company %></p>
    <%= link_to "Add friends", addfriends_path, class: "button buttonshadow" %>
</div>

<div class="flashmsg fmaccount">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>

<div class="floatright accountcontainer" id="friendscontainer">
  <h2>Following</h2>
  <div id="friends">
    <% if current_user.friendships.length == 0 %>
      <span>You are not following anybody.</span>
    <% end %>
    <% for friendship in current_user.friendships %>
      <% if friendship.friend %>
        <%= link_to (friendship.friend), :action => :show, :id => friendship.friend.id do %>
          <div class="friend floatleft">
            <div class="avatar_small floatleft">
              <%= image_tag avatar_url(friendship.friend, 50), :class => "avatar" %>
            </div>
            <div class="fname floatleft">
              <%= friendship.friend.username %>
            </div>
            <div class="fcompany floatleft">
              <%= friendship.friend.company %>
            </div>
            <div class="fremove">
              <%= link_to (friendship), :method => :delete, :class => "floatright" do%>
                <i class="fa fa-times"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %> 
    <% end %>
  </div>
</div>

<div class="floatright accountcontainer" id="created_events">
  <h2>Created events</h2>
    <% if @events.length == 0 %>
      <span>You did not create any events yet. Do so <%= link_to "here", controller: 'tasks', action: 'new' %>.</span>
    <% end %>
    <% for event in @events %>
      <%= link_to(controller: "tasks", action: "event", id: event.id) do %>
        <div class="event floatleft">
          <div class="etitle">
            <%= event.title %>
          </div>
          <div class="event-icon">
              <i class="fa fa-calendar-o"></i>
          </div>
          <div class="eremove">
              <%= link_to (event), :method => :delete, :class => "floatright" do%>
                <i class="fa fa-times"></i>
              <% end %>
            </div>
        </div>
      <% end %>
    <% end %>
</div>

<div class="floatright accountcontainer" id="attending_events">
  <h2>Attending</h2>
  <% if @attend.length == 0 %>
    <span>You are not attending any events yet.</span>
  <% end %>
    <% for attending in @attend %>
      <% event = Task.where(id: attending.task_id).first %>
      <%= link_to(controller: "tasks", action: "event", id: event.id) do %>
        <div class="event floatleft">
          <div class="etitle">
            <%= event.title %>
          </div>
          <div class="event-icon">
              <i class="fa fa-calendar-o"></i>
          </div>
        </div>
      <% end %>
    <% end %>
</div>

<div class="floatright accountcontainer" id="invites">
  <h2>Invites</h2>
    <% if @einvites.length == 0 %>
      <span>You don't have any invites yet.</span>
    <% end %>
    <% for invite in @einvites %>
      <% for event in invite %>
        <%= link_to(controller: "responses", action: "new", id: event.id) do %>
          <div class="invite floatleft">
            <div class="invite-title">
              <%= event.title %>
            </div>
            <div class="event-icon">
              <i class="fa fa-reply"></i>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
</div>
