<div id="event-view" class="view">

        <div class="event-info floatleft">
            <h2><%= @task.first.title %></h2>
            <div class="event-description">
                <%= @task.first.text %>
            </div>
            <div class="suggested-dates">
                <h2>Suggested Dates</h2>
                    <div class="event-date date-suggestion">
                        <div class="month floatleft">
                            <%= Selectdate.where(id: @suggestion.first.first.to_i).first.task_date.strftime("%B") %>
                        </div>
                        <div class="year floatright">
                            <%= Selectdate.where(id: @suggestion.first.first.to_i).first.task_date.strftime("%Y") %>
                        </div>
                        <div class="day">
                            <%= Selectdate.where(id: @suggestion.first.first.to_i).first.task_date.strftime("%d") %>
                        </div>
                        <div class="time">
                            <%= Selectdate.where(id: @suggestion.first.first.to_i).first.task_date.strftime("%H:%M") %>
                        </div>
                        <div class="score">
                            Score: <%= @suggestion.first.second %>
                        </div>
                    </div>
                <div class="runnerups">
                    <% for i in 1..@suggestion.length - 1 do %>
                        <div class="runnerup">
                            <%= Selectdate.where(id: @suggestion[i].first.to_i).first.task_date.strftime("%d.%m.%y %H:%M") %>
                            <span>Score: <%= @suggestion[i].second %></span>
                        </div>
                    <% end %>
                </div>
            </div>
            <div id="fileupload">
                <%= form_for :attachment, :url => "attachments/create", :multipart => true do |f| %>
                    <%= f.file_field 'attachment' %>
                    <div id="submit-attachment" class="button buttonshadow">
                        <%= f.submit "upload" %>
                    </div>
                    <%= f.text_field :task_id, :class => "id_hide", :value => @task.first.id %>
                <% end %>
            </div>
        </div>

        <div class="event-dates floatright">
            <% for date in @dates do %>
                <div class="event-date floatleft">
                    <div class="month floatleft">
                        <%= date.task_date.strftime("%B") %>
                    </div>
                    <div class="year floatright">
                        <%= date.task_date.strftime("%Y") %>
                    </div>
                    <div class="day">
                        <%= date.task_date.strftime("%d") %>
                    </div>
                    <div class="time">
                        <%= date.task_date.strftime("%H:%M") %>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="participants floatright">
            <h2>Participants</h2>
            <% for participant in @participants do %>
                <%= link_to (participant.user), :controller => 'user', :action => :show, :id => participant.user.id do %>
                    <div class="participant floatleft">
                        <div class="avatar_small floatleft">
                            <%= image_tag avatar_url(participant.user, 50), :class => "avatar" %>
                        </div>
                        <div class="fname floatleft">
                            <%= participant.user.username %>
                        </div>
                        <div class="fcompany floatleft">
                            <%= participant.user.company %>
                        </div>
                        <% if participant.answered != nil %>
                            <i class="fa fa-check"> answered</i>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>

        <div class="event-comments floatright">
            <a id="showcomments" class="btn-show floatright">show</a>
            <h2>Comments</h2>
            <div id="comments">
                <% if @comments.length == 0 %>
                    <span>No comments</span>
                <% end %>
                <% for comment in @comments do %>
                    <div class="comment">
                        <div class="cmt-user floatleft">
                            <%= comment.username %>
                        </div>
                        <div class="cmt-text floatright">
                            <%= comment.text %>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="inputform">
                <%= form_for :comment, :url => "comments/create" do |f| %>
                    <%= f.text_field :username, :class => "id_hide", :value => current_user.username %>
                    <%= f.text_field :task_id, :class => "id_hide", :value => @task.first.id %>
                        <%= f.text_area :text%>
                        <%= f.submit "send", class: "buttoninput buttonshadow floatright btn-comment" %>
                <% end %>
            </div>
        </div>

        <div class="event-attachments floatright">
            <a id="showattachments" class="btn-show floatright">show</a>
            <h2>Attachments</h2>
            <div id="attachments">
                <% if @attachments.length == 0 %>
                    <span>No attachments</span>
                <% end %>
                <% for attachment in @attachments do %>
                    <div class="attachment">
                        <div class="filename floatleft">
                            <%= attachment.filename %>
                        </div>
                        <div class="btn-download floatright">
                            <%= link_to download_path(a_id: attachment.id) do %>
                                <i class="fa fa-cloud-download"></i>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
</div>

