<div id="event-view" class="view">

    <div class="event-page">

        <div class="event-info floatleft">
            <h2><%= @task.first.title %></h2>
            <div class="event-description">
                <%= @task.first.text %>
            </div>
            <div class="suggested-dates">
                <h2>Suggested Dates</h2>
            </div>
        </div>

        <div class="event-dates">
            <% for date in @dates do %>
                <div class="event-date floatleft">
                    <div class="month floatleft">
                        <%= date.task_date.strftime("%B") %>
                    </div>
                    <div class="year floatright">
                        <%= date.task_date.strftime("%Y") %>
                    </div>
                    <div class="day">
                        <%= date.task_date.strftime("%d") %>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="participants floatleft">
            <h2>Participants</h2>
            <% for participant in @participants do %>
                <div class="participant floatleft">
                    <div class="avatar_small floatleft">
                        <%= image_tag avatar_url(participant.user, 50), :class => "avatar" %>
                    </div>
                    <div class="fname">
                        <%= participant.user.username %>
                    </div>
                    <div class="fcompany">
                        <%= participant.user.company %>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="event-comments floatleft">
            <a id="showcomments" class="btn-show floatright">show</a>
            <h2>Comments</h2>
            <div id="comments">
                <% for comment in @comments do %>
                    <%= comment.username %>
                    <%= comment.text %>
                <% end %>
            </div>
            <%= form_for :comment, :url => "comments/create" do |f| %>
            <%= f.text_field :username, :class => "id_hide", :value => current_user.username %>
            <%= f.text_field :task_id, :class => "id_hide", :value => @task.first.id %>
              <p>
                <%= f.text_area :text, :placeholder => "Comment"%>
              </p>
              <p>
                <%= f.submit %>
                </p>
            <% end %>
        </div>
    <!--
        <div class="floatleft">
            <% @participants.map do |part| %>
                <li>Username: <%= part.user.username %> Userweight: <%= part.user_weight %> </li>
            <% end %>
        </div>
    -->
    </div>
</div>

