<div id="createNoodle" class="view">

  <h2>Create Noodle</h2>

  <div class="inputform">
    <%= form_for :task, url: tasks_path do |f| %>

        <% if @task.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@task.errors.count, "error") %> prohibited
                this task from being saved:</h2>
              <ul>
                <% @task.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>



        <p>
          <%= f.text_field :title, :placeholder => "Title" %>
        </p>

        <p>
          <%= f.text_area :text, :placeholder => "Description" %>
        </p>
        <p>
          <%= f.text_field :user_id, :class => "id_hide", :value => current_user.id %>
        </p>
        <p>
          <%= f.submit "Create", :class => "buttoninput buttonshadow"%>
        </p>
    <% end %>
  </div>
</div>



