<div class="view">
    <h2>Select Users</h2>
    <div class="inputform" id="select-user-form">
        <%= form_tag("/tasks/participate/", :method => "post", :id => @task) do %>

              <% for friendship in current_user.friendships %>
                <% if friendship.friend %>
                    <div class="checkfriend">
                        <div class="checkbox floatleft">
                            <%= check_box_tag  "user_checkbox[]", friendship.friend.id %> 
                        </div>
                        <div class="checkname">
                            <%= friendship.friend.username %>
                        </div>
                    </div>
                <% end %>
              <% end %>
            <%= hidden_field_tag :id, @task.id %>
            <%= submit_tag("Add", :class => "buttonshadow buttoninput select_button") %>
        <% end %>
    </div>
</div>

