<div class="view">
  <h2 id="select_date_title">Select dates for: <%= @task.title %></h2>

  <% @taskdates.each do |date| %>
    <div class="dates">
      <p><%= date.task_date.strftime("%A, %d %B %Y") %></p>
      <%= link_to :url => "/delete_date", :id => date do%>
        <i class="fa fa-times"></i>
      <% end %>
    </div>
  <% end %>

  <div class="inputform" id="select_date_form">
    <%= form_for @task, :url => {action: "create_date"} do |f| %>

        <!-- gibt da ein kleines problem! entweder man traegt das datum ohne calender ein od die zeit bleibt bei 00:00:00
        <p><%= f.label :meeting_date, "Meeting Date", :as => :datetime_picker %>
          <%= datetime_field("tasks", "meeting_date") %>
        </p>
        -->

        <!--
        <p><%= f.label :meeting_start_time, "Meeting Start Time" %>
          <%= time_field("tasks", "meeting_time") %></p>
        -->

        <p>
          <%= date_field("tasks", "meeting_date")%>
        </p>

        <p>
          <%= hidden_field_tag :id, @task.id %>
          <%= f.submit "Add Date", :class => "buttoninput buttonshadow" %>
        </p>
    <% end %>
  </div>
  <%= link_to "Continue", select_user_path(:id => @task), :class => "button buttonshadow" %>
</div>




