<h1>Select Users</h1>




<%= form_tag("/tasks/participate/", :method => "post", :id => @task) do %>



<ul>
  <% @testuser.each do |testuser| %>
    <li> <%= check_box_tag  "user_checkbox[]",testuser.id %> <%= testuser.username %></li>
<% end %>
</ul>
   <%= hidden_field_tag :id, @task.id %>
   <%= submit_tag("Teilnehmer hinzufügen") %>
<% end %>

