<div class="view">
  <h2 id="select_date_title">Select dates</h2>

  <% @taskdates.each do |date| %>
    <div class="dates">
      <p><%= date.task_date.strftime("%A, %d %B %Y %H:%M") %></p>
      <%= link_to delete_date_path(:date_id => date.id, :task_id => @task.id) do %>
        <i class="fa fa-times"></i>
      <% end %>
    </div>
  <% end %>

  <div class="inputform" id="select_date_form">
    <%= form_for @task, :url => {action: "create_date"} do |f| %>

          <%= text_field("tasks", "meeting_date", placeholder: "dd-mm-yyyy", id: "datepicker") %>

          <%= text_field("tasks", "meeting_time", placeholder: "hh:mm", id: "timepicker") %>

        <p>
          <%= hidden_field_tag :id, @task.id %>
          <%= f.submit "Add Date", :class => "buttoninput buttonshadow" %>
        </p>
    <% end %>
  </div>
  <%= link_to "Continue", select_user_path(:id => @task), :class => "button buttonshadow" %>
</div>




