<div class="view">
    <h2>Select the Weight</h2>

    <div class="inputform">
        <%= form_tag multiple_update_users_path do %>
              <% @participants.each do |part| %>
                <div class="userweight">
                    <div class="checkname floatleft">
                        <%= part.user.username %>
                    </div>
                    <div class="select_weight floatright">
                        <%= select_tag "users[#{part.user.id}][user_weight]", options_for_select([['very low', 1], ['low', 2], ['medium', 3], ['high', 4], ['very high', 5]], part.user_weight) %>
                    </div>
                </div>
              <% end %>
            <%= hidden_field_tag :id, @task.id %>
            <%= submit_tag "Update", :class => "buttoninput buttonshadow select_button" %>
        <% end %>
    </div>
</div>



