<h1>Participate Testsuite</h1>

<ul>
  <% @participant_array.each do |name| %>
      <li> <%= User.find(name).username %> Text </li>
  <% end %>

</ul>




<%= form_for @participant_array, :url => {action: "create_user_weight"} do |f| %>


    <p><%= f.label :user_weight, "User Weight" %>
    <p> <%= f.select(:attendees, [['One', 1], ['Two', 2]]) %> </p>

    <p>
      <%= hidden_field_tag :id, @task.id %>
      <%= button_to "Select User Weight", action: "create" %>
    </p>
<% end %>