<div class="page-description">
  <p>To get the most out of your Noodle profile please create a free <a href="http://en.gravatar.com" target="_blank">gravatar</a> account and sign up with your <a href="http://en.gravatar.com" target="_blank">gravatar</a> e-mail address. You can create a free gravatar address <a href="https://signup.wordpress.com/signup/?ref=oauth2&oauth2_redirect=8518bd3fc4155103eafd869c5acc4ba5%40https%3A%2F%2Fpublic-api.wordpress.com%2Foauth2%2Fauthorize%2F%3Fclient_id%3D1854%26response_type%3Dcode%26blog_id%3D0%26state%3D7a8c7e5155218a42daf43fcc9bd96fa60f76dcfebef7fab853ce858f1ae2af91%26redirect_uri%3Dhttps%253A%252F%252Fen.gravatar.com%252Fconnect%252F%253Faction%253Drequest_access_token%26jetpack-code%26jetpack-user-id%3D0%26action%3Doauth2-login&wpcom_connect=1" target="_blank">here</a>.</p>
</div>
<div class="inputform">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.text_field :username, :placeholder => "Username" %>
    </p>
    <p>
      <%= f.text_field :company, :placeholder => "Company" %>
    </p>
    <p>
      <%= f.text_field :email, :placeholder => "E-Mail" %>
    </p>
    <p>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.password_field :password_confirmation %>
    </p>
    <p><%= f.submit "Sign Up", :class => "buttoninput buttonshadow" %></p>
  <% end %>
</div>
