
<div class="userprofile">
    <div class="avatar_big floatleft">
        <%= image_tag avatar_url(@user, 250), :class => "avatar_big" %>
    </div>

    <div class="pinfo floatleft">
        <div class="pname">
            <%= @user.username %>
        </div>
        <div class="pemail">
            <%= mail_to @user.email %>
        </div>
        <div class="pcompany">
            <%= @user.company %>
        </div>
    </div>
    <div class="floatleft accountcontainer" id="friends-profile">
      <h2>Friends</h2>
      <div id="friends">
        <% for friendship in @user.friendships %>
          <% if friendship.friend %>
            <%= link_to (friendship.friend), :action => :show, :id => friendship.friend.id do %>
              <div class="friend floatleft">
                <div class="avatar_small floatleft">
                  <%= image_tag avatar_url(friendship.friend, 50), :class => "avatar" %>
                </div>
                <div class="fname floatleft">
                  <%= friendship.friend.username %>
                </div>
                <div class="fcompany floatleft">
                  <%= friendship.friend.company %>
                </div>
              </div>
            <% end %>
          <% end %> 
        <% end %>
      </div>
    </div>
</div>


