<h1>Welcome to the Noodle Project!</h1>

<% if current_user %>
    <%= link_to "Log out", logout_path %>
    <%= link_to "Noodle erstellen", new_task_path %>
    <%= link_to "My Account", account_path %>
<% else %>
    <%= link_to "Sign up", signup_path %> or
    <%= link_to "log in", login_path %>
<% end %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
