<% if current_user %>
    <div class="flashmsg">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
    </div>
<% end %>

<% if not current_user %>
    <h1 id="welcome">Welcome to the Noodle Project</h1>
<% end %>

<div id="penlong">
    <%= link_to new_task_path do%>
        <%= image_tag("penlong.png",  height: 500) %>
    <% end %>
</div>

<div class="floatright" id="introtext">
    <p>Start your scheduling adventure here with Noodle - find the appropriate date thanks to Noodle’s smart scheduling algorithm. Organizing successful meetings without all required members? </p>

    <p>Let Noodle be your scheduling master that selects not only a simple date - but the best one for YOU and your needs.  </p>

    <% if not current_user %>
        <%= link_to signup_path do %>    
            <div class="buttonhome floatleft buttonshadow" id="signupbutton">
                Sign up
            </div>
        <% end %>
        
        <%= link_to login_path do%>
            <div class="buttonhome floatleft buttonshadow" id="loginbutton">
                Login
            </div>
        <% end %>
    <% else %>
        <%= link_to new_task_path do%>
            <div class="buttonhome buttonshadow" id="noodlen">
                Noodlen
            </div>
        <% end %>
    <% end %>

</div>
