<%= form_tag users_path, :method => "get" do %>
    <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil%>
    </p>
<% end %>

<% if @users %>
    <% for user in @users %>
        <% if user != current_user %>
          <div class="user">
            <p>
              <%= link_to user.username, controller: "users", action: "show", id: user.id %>
              <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
              <div class="clear"></div>
            </p>
          </div>
        <% end %>
    <% end %>
<% end %>

<% if @searchresults %>
    <% for result in @searchresults %>
        <%= link_to result.username, controller: "users", action: "show", id: result.id %>
        <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
        <div class="clear"></div>
    <% end %>
<% end %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= link_to "Back", account_path %>
