<%= link_to account_path  do%>
  <i class="fa fa-arrow-left"></i>
<% end %>

<a id="showsuggestions" class="floatright">show suggestions</a>

<div class="inputform inputsearch" id="friendsearch">
  <%= form_tag users_path, :method => "get" do %>
    <%= text_field_tag :search, params[:search], :class => "inputform" %>
    <%= submit_tag "Search", :name => nil, :class => "buttoninput buttonshadow"%>
  <% end %>
</div>

<div id="asearch">
  <% if @searchresults != nil %>
    <% for result in @searchresults %>
      <%= link_to (result), :action => :show, :id => result.id do %>
        <div class="friend floatleft">
          <div class="avatar_small floatleft">
            <%= image_tag avatar_url(result, 50), :class => "avatar" %>
          </div>
          <div class="fname floatleft">
            <%= result.username %>
          </div>
          <div class="fcompany floatleft">
            <%= result.company %>
          </div>
          <div class="fadd">
            <%= link_to friendships_path(:friend_id => result), :method => :post do%>
              <i class="fa fa-plus"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="flashmsg">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
    </div>
  <% end %>
  <div class="suggestion">
    <% if @suggestion %>
      <div class="suggestions">
        <% for suggestion in @suggestion %>
          <%= link_to (suggestion), :action => :show, :id => suggestion.id do %>
              <div class="friend floatleft">
                <div class="avatar_small floatleft">
                  <%= image_tag avatar_url(suggestion, 50), :class => "avatar" %>
                </div>
                <div class="fname floatleft">
                  <%= suggestion.username %>
                </div>
                <div class="fcompany floatleft">
                  <%= suggestion.company %>
                </div>
                <div class="fadd">
                  <%= link_to friendships_path(:friend_id => suggestion), :method => :post do%>
                    <i class="fa fa-plus"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>




